# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Eclipse/STS
.project
.classpath
.settings/

# IntelliJ output
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*
.release.env

# Local config
*.local
