RELEASE_VERSION=dev

RATE_BASE_VALUE=90.0
RATE_SPREAD=1.0
RATE_BASE_CURRENCY=USD
RATE_QUOTE_CURRENCY=RUB
RATE_POLL_INTERVAL=5000

GRPC_CLIENT_DEADLINE_MILLIS=3000
SHUTDOWN_TIMEOUT=30s
GRPC_SERVER_SHUTDOWN_GRACE_PERIOD=30s
GRPC_CLIENT_SHUTDOWN_GRACE_PERIOD=30s
SCHEDULING_SHUTDOWN_TIMEOUT=30s
